@media screen and (min-width:1200px){
    .header{
        width: 100%;
        position: fixed;
        background-color: #444;
        position: relative;
        justify-content: space-between;
        display: flex;
        
    }
    .menu_btn{
        display: none;
    }
    .menu a::after{
        display: none;
    }
    .logo{
        margin-left: 5%;
        width:20%;
    }
    .menu{
        left: 0;
        padding: 0;
        display: flex;
        position: relative; /*相對定位*/
        background: none;
        width: auto;
        height: auto;
        font-size: 0;
        margin-right: 10%;
    }
    .menu a{
        display:inline-block;
        text-align: center;
        margin: 0;
        padding: 0 10px;
        height: auto;
        width: 130px;
        color:#fff;
        background-color: transparent;
        border-bottom: 1.5px solid transparent;
        
    }
    .menu a:hover{
        transition: all .5s;
        height: auto - 3px;
        background-color: #aaa;
        color:rgb(255, 0, 0);
        border-bottom: 1.5px solid #f00;
        
    }

    .crazy{
        left:250px;
    }
    .crazyplay{
        left:305px;
    }
    .speed{
        left:350px;
    }
}

