@media screen and (min-width:1200px){
    .nowtime h1{
        font-size: 30px;;
    }
    .header{
        width: 100%;
        background-color: #444;
        position: absolute;
        justify-content: space-between;
        display: flex;
        
    }
    .menu_btn{
        display: none;
    }
    .menu a::after{
        display: none;
    }
    .logo{
        margin-left: 5%;
        width:20%;
    }
    .menu{
        left: 0;
        padding: 0;
        display: flex;
        position: relative; /*相對定位*/
        background: none;
        width: auto;
        height: auto;
        font-size: 0;
        margin-right: 10%;
    }
    .menu a{
        display:inline-block;
        text-align: center;
        margin: 0;
        padding: 0 10px;
        height: auto;
        width: 130px;
        color:#fff;
        background-color: transparent;
        border-bottom: 1.5px solid transparent;
        
    }
    .menu a:hover{
        transition: all .5s;
        height: auto - 3px;
        background-color: #aaa;
        color:rgb(255, 0, 0);
        border-bottom: 1.5px solid #f00;
        
    }

    .crazy{
        left:250px;
    }
    .crazyplay{
        left:305px;
    }
    .speed{
        left:350px;
    }
    .CSweather{
        position: absolute;
        color:aliceblue;
        top: 18px;
        left: 510px;
        width: 1200px;
    }
    .content2{
        position: relative;
        height: 210vh;
        background-color: rgb(238, 207, 121);
    }
    .block_time{
        margin-top: 25px;
    }
    .block_time h2{
        font-size:larger;
    }
    .K101{
        position: relative;
        left: 0%;
    }
    .time{
        height: 450px;
        transform: translate(-50%, -50%);
    }

    /*cont2天氣部分*/
    .citychoosetxt{
        position: absolute;
        left:-100%;
        opacity: 0%;
    }
    .send{

        top:25px;
        width:400px;
        left:-10px;
        background-color: rgb(0, 193, 252);
    }
    
    .allctdiv{
        top:80px;


    }
    .TaiwanTemp{ /*台灣地圖*/
        left: 0%;
        opacity: 100%;
    }
    .citychoose{ /*詳細版鄉鎮溫溼度選擇器*/
        top:820px;
        left:50px;
    }
    .ranklist{
        font-size: 25px;
        width: 300px;
        top:50px;
        right:30px;
        width: 300px;

    }
    .content3{
        border-bottom: 3px solid rgb(90, 175, 255);
    }
    .cont3txt{
        color:#000;
        left: 50%;
        top:30px;
    }
    .rank1{
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .rank2{
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .rank3{
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 25px;
    }
    .startbtn{
        top:30px;
        left:30px;
        width: 250px;
        height: 150px;
        font-size: larger;
        background-color:rgb(59, 59, 59);
    }
    .startnum{
        top:200px;
        left:30px;
        color: rgb(0, 0, 0);
        font-size: 50px;
    }

    .GoTop{
        height: 80px;
        width: 80px;
        font-size: 25px;
        right: -100px;
        bottom: 15px;
    }
    .content4{
        height: 100%;
        opacity: 100%;
    }



    
}